#buttonsDiv button{
    box-shadow: none;
    
}

#buttonsDiv button:hover{
    background-color: rgb(161, 204, 201);
}

.calculator{
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}